.donor_body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}
.donor_heading {
    padding: 10px;
    font-size: 2em;
    margin: 0;color: black;
    font-weight: bolder;
}
.donor_input_box{
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    background-color: #65B5D8;
    ;
    border-radius: 15px;
    width: 35vw;
    height: 55vh;
}
.donor_name{
    width: 11vw;
    display: block;
    float: left;
    font-size: 1em;
    color: black;
    margin-right: 10px;
    
}
.donor_name_input{
    width: 20vw;
    height: 30px;
    margin-bottom: 20px;
    padding-left: 5px;
    background-color: white;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    color: black;
}

.register_btn{
    background-color:  #1B1961;
    ;
    font-size: 20px;
    color: white;
    margin: 20px;
    padding: 10px 6vw;
}